<ul class="bg-green-900  flex ps-[42rem] font-extrabold hover:text-black">
    <a href="/" class="m-2"><ul>sign up</ul></a>
    <a href="/loginin" class="m-2"><ul>Login</ul></a>
    <a href="/auth" class="m-2"><ul>Authpage</ul></a>
    <a href="/logout" class="m-2"><ul>Logout</ul></a>
</ul>